.show_row [class^=col-],
.show_row [class^=col] {
	background-color: rgba(86,61,124,.15);
	border:1px solid;
}
/* ================= Variable Definitions ================= */
:root {
	--font_poppins: 'Poppins', sans-serif;
	
	--white: 	rgba(255,255,255,1);
	--white_50: rgba(255,255,255,0.5);
	--white_40: rgba(255,255,255,0.4);
	--white_30: rgba(255,255,255,0.3);
	
	--black:	rgba(0,0,0,1);
	--black_50: rgba(0,0,0,0.5);
	--black_40: rgba(0,0,0,0.4);
	--black_30: rgba(0,0,0,0.3);

	--black_flycode: 	#060618;
	--green_flycode: 	#20FFA3;
	--green_light_flycode: 	#E9FFF6;
	--blue_flycode: 	#0000FE;
	--blue_dark_flycode: 	#0000d6;
	--body_text_color: 	#4C4C4C;
	--body_color: #F8FAFC;
	--form_placeholder_color: #CCCCCC;
	--bs_body_color: #CCCCCC;
	--border_color:#F0F1F2;
	--box_shadow_color: #A6A6A640;
	--offcanvas_backdrop_color: #00000080;

	--transparent: transparent;

	--border_radius_6: 6px;
	--border_radius_7: 7px;
	--border_radius_10: 10px;


	--font_weight_300: 	300;
	--font_weight_400: 	400;
	--font_weight_500: 	500;
	--font_weight_600: 	600;

	--font_size_12: 12px;
	--font_size_13: 13px;
	--font_size_14: 14px;
	--font_size_15: 15px;
	--font_size_16: 16px;
	--font_size_17: 17px;

	--transition_time: .3s;
	--transition_efect: ease-in-out;

	--bs-border-radius: var(--border_radius_7);
	--bs-border-radius-lg: var(--border_radius_7);
}
/* ================= Variable Definitions ================= */

/* ================= Bootstrap Definitions ================= */
.btn-primary {
	--bs-btn-color: var(--white);
	--bs-btn-bg: var(--blue_flycode);
	--bs-btn-border-color: var(--blue_flycode);
	--bs-btn-hover-color: var(--white);
	--bs-btn-hover-bg: var(--blue_dark_flycode);
	--bs-btn-hover-border-color: var(--blue_dark_flycode);
    --bs-btn-focus-shadow-rgb: 49,132,253;
	--bs-btn-active-color: var(--white);
	--bs-btn-active-bg: var(--blue_dark_flycode);
	--bs-btn-active-border-color: var(--blue_dark_flycode);
	--bs-btn-active-shadow: inset 0 3px 5px rgba(0, 0, 0, 0.125);
	--bs-btn-disabled-color: var(--white);
	--bs-btn-disabled-bg: var(--blue_flycode);
	--bs-btn-disabled-border-color: var(--blue_flycode);
	font-weight: var(--font_weight_600);
	font-size: var(--font_size_15);
	letter-spacing: 0.6px;
}
.btn-secondary {
    --bs-btn-color: var(--white);
    --bs-btn-bg: var(--border_color);
    --bs-btn-border-color: var(--border_color);
    --bs-btn-hover-color: var(--white);
    --bs-btn-hover-bg: var(--border_color);
    --bs-btn-hover-border-color: var(--border_color);
    --bs-btn-focus-shadow-rgb: 130,138,145;
    --bs-btn-active-color: var(--white);
    --bs-btn-active-bg: var(--border_color);
    --bs-btn-active-border-color: var(--border_color);
    --bs-btn-active-shadow: inset 0 3px 5px rgba(0, 0, 0, 0.125);
    --bs-btn-disabled-color: var(--white);
    --bs-btn-disabled-bg: #6c757d;
    --bs-btn-disabled-border-color: #6c757d;
}
.offcanvas-backdrop{
	background-color: var(--offcanvas_backdrop_color);
}
.offcanvas-backdrop.show{
	opacity: 1;
}
.offcanvas.text-bg-dark{
	background-color: var(--black_flycode) !important;
}
.offcanvas-header{
	justify-content: center;
	padding-top: 48px;
	padding-bottom: 48px;
}
.offcanvas-header .btn-secondary.active{
	border-color: var(--blue_flycode);
	background-color: var(--blue_flycode);
}
.form-check-input {
    --bs-form-check-bg: var(--transparent);
}
.form-check-input:checked {
    background-color: var(--green_flycode);
    border-color: var(--green_flycode);
}
.form-check-input:focus {
    border-color: var(--green_flycode);
    outline: 0;
    box-shadow: none;
}
.form-check-input:checked[type=checkbox]{
	--bs-form-check-bg-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 20 20'%3e%3cpath fill='none' stroke='%230000FE' stroke-linecap='round' stroke-linejoin='round' stroke-width='3' d='m6 10 3 3 6-6'/%3e%3c/svg%3e");
}
/* ================= Bootstrap Definitions ================= */

/* ================= Globals ================= */
* {
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	font-family: var(--font_poppins);
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	text-decoration: none;
	/*transition: all var(--transition_time) var(--transition_efect);*/
}

html, body {
	height: 100%;
	font-size: var(--font_size_16);
	color: var(--body_text_color);
	background-color: var(--body_color);
}
a {
	text-decoration: none;
}
/* ================= Globals ================= */


/* ================= General Form ================= */
.form-control:focus {
	border-color: var(--green_flycode);
	box-shadow: none;
}
.form-control::placeholder {
	font-weight: var(--font_weight_600);
	color: var(--form_placeholder_color);
	opacity: 1;
}
.form-control:-ms-input-placeholder {
	color: var(--form_placeholder_color);
}
.form-control::-ms-input-placeholder {
	color: var(--form_placeholder_color);
}
/* ================= General Form ================= */



/* ================= Login Form ================= */
body.login{
	background-color: var(--black_flycode);
	color: var(--white);
}
body.login:after{
	display: block;
	content: '';
	position: absolute;
	right: 50px;
	bottom: 50px;
	width: 755.1px;
	height: 385.17px;
	background-image: url('../../images/amblem.svg');
	background-repeat: no-repeat;
	background-position: right bottom;
	z-index: 0;
}
body.login .container{
	height: calc(100% - 40px);
	position: relative;
	z-index: 1;
}
body.login .form-control{
	font-weight: var(--font_weight_600);
	letter-spacing: 0.6px;
	color: var(--black);
}
body.login .form-text{
	margin-top: 0;
	font-size: var(--font_size_12);
	color: var(--white);
}
body.login .form-text a{
	color: var(--green_flycode);
}
/* ================= Login Form ================= */


#wrapper{
	display: flex;
}

/* ================= Sidebar ================= */
#sidebar{
	width: 330px;
	min-width: 115.5px;
	z-index: 1000;
	background-color: var(--black_flycode);
	display: flex;
	flex-direction: column;
	padding: 0px 17px;
	position: fixed;
    left: 0;
    top: 0;
    height: 100%;
}
#sidebar .sidebar_header{
	height: 133px;
}
#sidebar .sidebar-logo{
	display: flex;
	align-items: flex-start;
}
#sidebar .toggle-btn{
	border:1px solid var(--white);
	width: 25px;
	height: 25px;
	border-radius: 3px;
	display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    right: 0;
}
#sidebar .sidebar-nav {
    padding: 0px;
    flex: 1 1 auto;
    overflow: auto;
    height: 100px;
    position: relative;
}
#sidebar a.sidebar-link {
    font-size: var(--font_size_17);
    font-weight: var(--font_weight_600);
    letter-spacing: 0.68px;
    line-height: 24px;
    padding: 14px 0px 14px 33px;
    color: var(--white);
    white-space: nowrap;
    display: flex;
    align-items: center;
    border-radius: var(--bs-border-radius);
    position: relative;
}
#sidebar a.sidebar-link .icon {
    max-width: 14px;
    max-height: 14px;
    margin-right: 10px;
}

#sidebar a.sidebar-link:hover,
#sidebar a.sidebar-link.active{
    background-color: var(--blue_flycode);
}
#sidebar .sidebar-item {
	position: relative;
}
#sidebar .sidebar-dropdown .sidebar-item a.sidebar-link{
	font-weight: var(--font_weight_400);
	padding-left: 60px;
}
#sidebar .sidebar-dropdown .sidebar-item .sidebar-item a.sidebar-link{
	padding-left: 80px;
}
#sidebar .sidebar-link[data-bs-toggle="collapse"]::after {
    border: solid;
    border-width: 0 2px 2px 0;
    content: "";
    display: inline-block;
    padding: 3px;
    position: absolute;
    right: 1.5rem;
    top: 1.2rem;
    transform: rotate(-135deg);
}
#sidebar .sidebar-link[data-bs-toggle="collapse"].collapsed::after {
    transform: rotate(45deg);
}
#sidebar.collapse {
    width: 115px;
    min-width: 115px;
    transition: all var(--transition_time) var(--transition_efect);
}
#sidebar.collapse .toggle-btn,
#sidebar.collapse .sidebar-link[data-bs-toggle="collapse"]::after,
#sidebar.collapse .sidebar-logo .logo-name,
#sidebar.collapse .sidebar-item .sidebar-dropdown,
#sidebar.collapse a.sidebar-link span {
    display: none;
    transition: all var(--transition_time) var(--transition_efect);
}
#sidebar.collapse .sidebar-logo .logo-amblem img{
	width: 80px;
	margin-right: 0px !important;
}
/*#sidebar.collapse .sidebar-item .sidebar-dropdown {
    position: absolute;
    top: 0;
    left: 80px;
    background-color: var(--black_flycode);
    padding: 5px;
    min-width: fit-content;
    display: none;
    border-radius: 0 7px 7px 0;
}
#sidebar.collapse .sidebar-item:hover .has-dropdown+.sidebar-dropdown {
    display: block;
    width: 100%;
    opacity: 1;
    background-color: red;
}
#sidebar.collapse .sidebar-item .sidebar-item .sidebar-dropdown {
    position: relative;
    top: 0;
    left: 00px;
    background-color: black;
    padding: 5px;
    min-width: fit-content;
    display: none;
    border-radius: 0;
}
#sidebar.collapse .sidebar-item .sidebar-item:hover .has-dropdown-2+.sidebar-dropdown {
    display: block;
    width: 100%;
    opacity: 1;
    background-color: blue;
}
#sidebar.collapse .sidebar-nav {
    overflow: visible;
    height: auto;
    width: 81px;
}
#sidebar.collapse .sidebar-dropdown .sidebar-item a.sidebar-link{
	padding-left: 14px;
	padding-right: 14px;
}*/
/* ================= Sidebar ================= */

#main{
	min-height: 100vh;
	width: 100%;
	overflow: hidden;
	margin-left: 330px;
	margin-top: 133px;
	padding: 40px;
	transition: all var(--transition_time) var(--transition_efect);
}

#header{
	position: fixed;
	left: 0;
	top: 0;
	right: 0;
	z-index: 1;
	height: 133px;
	margin-left: 330px;
	border:1px solid var(--border_color);
	background-color: var(--white);
	padding: 40px;
	transition: all var(--transition_time) var(--transition_efect);
}

/* ================= Header User Card ================= */
.user_card{
	background-color: transparent;
	border: none;
	color: var(--body_text_color);
}
.user_card .user_img{
	width: 52px;
	height: 52px;
	border: 1px solid var(--border_color);
}
.user_card .card-title{
	color: inherit;
	font-size: 16px;
	font-weight: var(--font_weight_600);
	margin-bottom: 0px;
}
.user_card .card-text{
	color: inherit;
	font-size: 12px;
	font-weight: var(--font_weight_500);
}
.user_card .card-body{
	padding: 0;
}
/* ================= Header User Card ================= */

/* ================= Header Filter Dropdown Button ================= */
#header .btn_fly{
	line-height: 37px;
	border: 1px solid var(--border_color);
	border-radius: var(--border_radius_6);
	color: var(--body_text_color);
	font-size: var(--font_size_15);
	font-weight: var(--font_weight_500);
}
#header .btn_fly.show{
	color: inherit;
	background-color: inherit;
	border-color: var(--green_flycode);
	border-radius: var(--border_radius_6) var(--border_radius_6) 0 0;
}
/* ================= Header Filter Dropdown Button ================= */

/* ================= Header Filter Dropdown ================= */
#header .dropdown .dropdown-menu{
	border-radius: 0 var(--border_radius_10) var(--border_radius_10) var(--border_radius_10);
	border-color: var(--border_color);
	padding: 0px;
	box-shadow: 0px 4px 10px var(--box_shadow_color);
}
#header .dropdown .dropdown-menu li .dropdown-item{
	padding: 15px 30px;
	color: var(--body_text_color);
	border-bottom: 1px solid var(--border_color);
	font-size: var(--font_size_15);
	font-weight: var(--font_weight_500);
}
#header .dropdown .dropdown-menu li:first-child .dropdown-item{
	border-radius: 0 var(--border_radius_6) 0 0;
}
#header .dropdown .dropdown-menu li:last-child .dropdown-item{
	border-bottom: none;
	border-radius: 0 0 var(--border_radius_6) var(--border_radius_6);
}
#header .btn-group .btn-outline-success{
	--bs-btn-border-color: var(--border_color);
	--bs-btn-color: var(--body_text_color);
	font-size: var(--font_size_15);
	font-weight: var(--font_weight_500);
	line-height: 37px;
}
#header .btn-group .btn-outline-success.dropdown-toggle.show,
#header .btn-group .btn-outline-success:active,
#header .btn-group .btn-outline-success:hover,
#header .btn-group .btn-outline-success.active{
	background-color: var(--green_light_flycode);
	border-color: var(--green_flycode);
	color: var(--blue_flycode);
}
/* ================= Header Filter Dropdown ================= */

/* ================= Header Date Range ================= */
#date-range-container{
	width:263px;
}
#date-range-container table{
	width: auto;
}
#date-range-container table .day{
	padding: 10px;
}
#date-range-container .default-top,
#date-range-container .selected-days,
#date-range-container .selection-top{
	display: none !important;
}
#date-range-container .normal-top{
	display: block !important;
	background-color: var(--white);
}
#date-range-container .start-day,
#date-range-container .end-day{
	padding: 0 10px;
	line-height: 38px;
	border: 1px solid var(--border_color);
	border-bottom: none;
	display: inline-block;
	font-style: italic;
	font-weight: var(--font_weight_500);
	font-size: var(--font_size_15);
	color: #BDBCBC;
	width: 50%;
	text-align: center;
}
#date-range-container .end-day{
	margin-left: -3.8px;
	border-radius: 0 var(--border_radius_10) 0 0;
}
#date-range-container .date-picker-wrapper{
	border: none;
	background-color: transparent;
	border-radius: var(--border_radius_10);
	box-shadow: 0px 4px 10px var(--box_shadow_color);
}
#date-range-container .footer,
#date-range-container .date-picker-wrapper.no-shortcuts,
#date-range-container .drp_top-bar{
	padding: 0px;
}

#date-range-container .month-wrapper{
	border-color: var(--border_color);
	border-radius: 0 0 var(--border_radius_10) var(--border_radius_10);
	padding: 10px;
}
#date-range-container .week-name,
#date-range-container .month-name,
#date-range-container .day.toMonth.valid{
	color: var(--body_text_color);
	text-transform: none;
}
#date-range-container .prev,
#date-range-container .next{
	padding: 5px;
}
#date-range-container .day.real-today{
	background-color: var(--green_light_flycode);
	border: 1px solid var(--green_flycode);
	border-radius: var(--border_radius_6);
}
#date-range-container .first-date-selected,
#date-range-container .last-date-selected {
    background-color: var(--green_flycode) !important;
    color: var(--body_text_color) !important;
    border-radius: var(--border_radius_6);
}
#date-range-container .month-wrapper table .day.toMonth.hovering,
#date-range-container .month-wrapper table .day.checked {
    background-color: #d2ffed;
}
/* ================= Header Date Range ================= */

#frm_filter{

}







